*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10vh;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@import "base/variables";
@import "components/header";
@import "components/footer";
@import "components/inicio";
@import "components/productos";
@import "components/contactos";
@import "components/ubicacion";
@import "components/acercade";
@import "base/scrollbar";
@import "base/extends";
@import "base/mapas";
@import "base/mixin"