* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10vh;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.cabecera {
  z-index: 2;
  position: sticky;
  top: 0;
}
.cabecera .bgc-personalizated {
  background-color: #f1f1f1;
}
.cabecera .logo {
  padding-left: 1vw;
  width: 7vw;
}
.cabecera ul {
  list-style: none;
}
.cabecera ul a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.cabecera ul a:hover {
  color: black;
}

.logoKitty {
  height: 20vh;
  display: flex;
  margin: auto;
  margin-top: 70px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

@media (max-width: 480px) {
  .cabecera .logo {
    padding-left: 1vw;
    width: 20vw;
  }
}
.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vh;
}
.footer .sectionFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer .sectionFooter .logoFooter {
  width: 5vh;
  margin-top: 3vh;
  margin-right: 4vh;
  transition: all 1s;
}
.footer .sectionFooter .logoFooter:hover {
  transform: rotate(15deg);
}
.footer .pFooter {
  font-size: 70%;
  margin-left: 2vh;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .footer .pFooter {
    color: #585858;
    font-family: "Poppins", sans-serif;
    font-size: 120%;
    margin-left: 2vh;
  }
}

@media (max-width: 480px) {
  .footer .sectionFooter .logoFooter {
    width: 2vh;
    margin-top: 5vh;
    margin-right: 2vh;
    transition: all 1s;
  }
  .footer .pFooter {
    color: #585858;
    font-family: "Poppins", sans-serif;
    font-size: 55%;
    margin-left: 1vh;
  }
}
.bienvenida {
  height: 12vw;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}
.bienvenida .generalImageTwo {
  opacity: 0;
  display: none;
}
@media (max-width: 480px) {
  .bienvenida .generalImageOne {
    display: none;
  }
  .bienvenida .generalImageTwo {
    opacity: 1;
    height: 15rem;
    display: flex;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .bienvenida .generalImageOne {
    display: none;
  }
  .bienvenida .generalImageTwo {
    opacity: 1;
    height: 20rem;
    display: flex;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #585858;
}

@media (max-width: 480px) {
  .logoKitty {
    height: 20vh;
    display: flex;
    margin: auto;
    margin-top: 30px;
  }
}
.sectionImagen {
  display: flex;
  justify-content: center;
  height: 55vh;
}

@media (max-width: 480px) {
  .sectionImagen {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .sectionImagen {
    display: flex;
    justify-content: center;
    height: 35vh;
  }
}
.productosSection {
  width: 100%;
}
.productosSection .productosTitulo {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
  font-family: "Staatliches", cursive;
  font-size: 30px;
}
@media (max-width: 480px) {
  .productosSection .productosTitulo {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-family: "Staatliches", cursive;
    font-size: 30px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .productosSection .productosTitulo {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-family: "Staatliches", cursive;
    font-size: 40px;
  }
}
.productosSection .productosDiv {
  text-align: center;
}
.productosSection .productosDiv .productosSubtitulo {
  text-align: center;
  margin-left: 35vw;
  margin-right: 35vw;
  line-height: 3.5vh;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
}
@media (max-width: 480px) {
  .productosSection .productosDiv .productosSubtitulo {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .productosSection .productosDiv .productosSubtitulo {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .productosSection .productosDiv .productosSubtitulo {
    text-align: center;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-bottom: 3vh;
    line-height: 3.5vh;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
  }
}
.productosSection .productosDiv .productosSubtituloEscritorio {
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
  color: rgb(151, 151, 151);
  margin-bottom: 10vh;
}
.productosSection .productosDiv .productosSubtituloTactil {
  display: none;
}
@media (max-width: 480px) {
  .productosSection .productosDiv .productosSubtituloEscritorio {
    display: none;
  }
  .productosSection .productosDiv .productosSubtituloTactil {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: smaller;
    color: rgb(151, 151, 151);
    margin-bottom: 5vh;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .productosSection .productosDiv .productosSubtituloEscritorio {
    display: none;
  }
  .productosSection .productosDiv .productosSubtituloTactil {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: smaller;
    color: rgb(151, 151, 151);
    margin-bottom: 8vh;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .productosSection .productosDiv .productosSubtituloEscritorio {
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    color: rgb(151, 151, 151);
    margin-bottom: 10vh;
  }
  .productosSection .productosDiv .productosSubtituloTactil {
    display: none;
  }
}

.galeria {
  width: 100%;
  display: flex;
  justify-content: baseline;
}
.galeria .remeraBlanca, .galeria .remeraKitty, .galeria .buzoKitty, .galeria .pantalonKitty, .galeria .zapatillasKitty {
  height: 70vh;
  margin-left: 15rem;
  position: absolute;
  box-shadow: 0 0 5px rgb(77, 77, 77);
}
@media (max-width: 1024px) {
  .galeria .remeraBlanca, .galeria .remeraKitty, .galeria .buzoKitty, .galeria .pantalonKitty, .galeria .zapatillasKitty {
    height: 50vh;
    margin-left: 9rem;
    position: absolute;
    box-shadow: 0 0 5px rgb(77, 77, 77);
  }
}
@media (max-width: 480px) {
  .galeria .remeraBlanca, .galeria .remeraKitty, .galeria .buzoKitty, .galeria .pantalonKitty, .galeria .zapatillasKitty {
    height: 45vh;
    position: absolute;
    margin: auto;
    box-shadow: 0 0 5px rgb(77, 77, 77);
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .galeria .remeraBlanca, .galeria .remeraKitty, .galeria .buzoKitty, .galeria .pantalonKitty, .galeria .zapatillasKitty {
    height: 60vh;
    position: absolute;
    margin: auto;
    box-shadow: 0 0 5px rgb(77, 77, 77);
  }
}
.galeria .remeraBlancaTrasera, .galeria .remeraKittyTrasera, .galeria .buzoKittyTrasera, .galeria .pantalonKittyTrasera, .galeria .zapatillasKittyTrasera {
  height: 70vh;
  margin-left: 15rem;
  position: relative;
  box-shadow: 0 0 5px rgb(77, 77, 77);
}
.galeria .remeraBlancaTrasera:hover, .galeria .remeraKittyTrasera:hover, .galeria .buzoKittyTrasera:hover, .galeria .pantalonKittyTrasera:hover, .galeria .zapatillasKittyTrasera:hover {
  transform: translate(450px);
}
@media (max-width: 1024px) {
  .galeria .remeraBlancaTrasera, .galeria .remeraKittyTrasera, .galeria .buzoKittyTrasera, .galeria .pantalonKittyTrasera, .galeria .zapatillasKittyTrasera {
    height: 50vh;
    position: relative;
    margin-left: 9rem;
    box-shadow: 0 0 5px rgb(77, 77, 77);
  }
  .galeria .remeraBlancaTrasera:hover, .galeria .remeraKittyTrasera:hover, .galeria .buzoKittyTrasera:hover, .galeria .pantalonKittyTrasera:hover, .galeria .zapatillasKittyTrasera:hover {
    transform: translate(370px);
  }
}
@media (max-width: 480px) {
  .galeria .remeraBlancaTrasera, .galeria .remeraKittyTrasera, .galeria .buzoKittyTrasera, .galeria .pantalonKittyTrasera, .galeria .zapatillasKittyTrasera {
    height: 45vh;
    position: relative;
    margin: auto;
    box-shadow: 0 0 5px rgb(77, 77, 77);
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .galeria .remeraBlancaTrasera, .galeria .remeraKittyTrasera, .galeria .buzoKittyTrasera, .galeria .pantalonKittyTrasera, .galeria .zapatillasKittyTrasera {
    height: 60vh;
    position: relative;
    margin: auto;
    box-shadow: 0 0 5px rgb(77, 77, 77);
  }
}
.galeria #ropaDos {
  transition: all 1.5s;
}
@media (max-width: 480px) {
  .galeria #ropaDos {
    transition: all 0.7s;
  }
  .galeria #ropaDos:hover {
    transform: translate(20px, 20px);
    opacity: 0;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .galeria #ropaDos {
    transition: all 0.5s;
  }
  .galeria #ropaDos:hover {
    transform: translate(0px);
    opacity: 0;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .galeria #ropaDos {
    transition: all 1.5s;
  }
  .galeria #ropaDos:hover {
    transform: translate(750px);
  }
}

@media (max-width: 480px) {
  .galeria {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .galeria {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body {
    overflow-x: hidden;
  }
}
.sectionPproductos {
  margin-left: 39vh;
  margin-top: 2vh;
}
.sectionPproductos .pProductos {
  font-family: "Staatliches", cursive;
  font-size: 72px;
}
@media (max-width: 480px) {
  .sectionPproductos .pProductos {
    font-family: "Staatliches", cursive;
    font-size: 50px;
    margin: auto;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .sectionPproductos .pProductos {
    margin: auto;
    font-size: 50px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .sectionPproductos .pProductos {
    font-size: 90px;
  }
}

@media (max-width: 480px) {
  .sectionPproductos {
    display: flex;
    margin: auto;
    margin-top: 2vh;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .sectionPproductos {
    display: flex;
    margin: auto;
    margin-top: 2vh;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .sectionPproductos {
    margin-left: 25vh;
    margin-top: 2vh;
  }
}
@media (min-width: 1020px) and (max-width: 1024px) {
  .sectionPproductos {
    margin-left: 20vh;
    margin-top: 2vh;
  }
}
.sectionPzapatillaskitty {
  margin-left: 39vh;
  margin-top: 2vh;
  margin-bottom: 15vh;
}
.sectionPzapatillaskitty .pProductos {
  font-family: "Staatliches", cursive;
  font-size: 72px;
}
@media (max-width: 480px) {
  .sectionPzapatillaskitty .pProductos {
    font-family: "Staatliches", cursive;
    font-size: 50px;
    margin: auto;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .sectionPzapatillaskitty .pProductos {
    margin: auto;
    font-size: 50px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .sectionPzapatillaskitty .pProductos {
    font-size: 90px;
  }
}
@media (min-width: 1020px) and (max-width: 1024px) {
  .sectionPzapatillaskitty .pProductos {
    font-family: "Staatliches", cursive;
    font-size: 72px;
  }
}

@media (max-width: 480px) {
  .sectionPzapatillaskitty {
    display: flex;
    margin-left: auto;
    margin-top: 2vh;
    margin-bottom: 15vh;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .sectionPzapatillaskitty {
    display: flex;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 15vh;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .sectionPzapatillaskitty {
    margin-left: 25vh;
    margin-top: 2vh;
    margin-bottom: 15vh;
  }
}
@media (min-width: 1020px) and (max-width: 1024px) {
  .sectionPzapatillaskitty {
    margin-left: 20vh;
    margin-top: 2vh;
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #585858;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.container .card {
  width: 330px;
  height: 350px;
  margin: 20px;
  text-align: center;
}
.container .card img {
  margin: auto;
  width: 150px;
  height: 150px;
}
.container .card h4 {
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .container .card h4 {
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-size: 22px;
  }
}
.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 16px;
  font-weight: 300;
  padding-top: 4vh;
  font-family: "Lato", sans-serif;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .container .card p {
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 16px;
    padding-top: 4vh;
    font-family: "Lato", sans-serif;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .container {
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .container {
    height: 100%;
  }
}
@media (min-width: 1400px) {
  #responsive {
    margin-bottom: 2rem;
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #585858;
}

.container {
  margin-bottom: 12rem;
}
.container .title {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: "Staatliches", cursive;
}
.container .parraf {
  font-family: "Open Sans", sans-serif;
}

.sectionIframe {
  margin-bottom: 120px;
  text-align: center;
}
.sectionIframe .iframe {
  box-shadow: 0px 0px 15px rgb(77, 77, 77);
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .sectionIframe .iframe {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 480px) {
  .sectionIframe .iframe {
    margin-top: 0px;
    margin-bottom: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .sectionIframe .iframe {
    margin-bottom: 1rem;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #585858;
}

.sectionInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 18vh;
  margin-bottom: 20vh;
  position: relative;
}
.sectionInfo .kittyCorazon {
  position: absolute;
  left: 110%;
  top: 15%;
  width: 60vh;
}
.sectionInfo .info {
  font-family: "Staatliches", cursive;
  font-weight: 550;
  font-size: 40px;
}
.sectionInfo .infoP {
  margin-top: 2vh;
  font-family: "Open Sans", sans-serif;
}
.sectionInfo .infoh2 {
  font-family: "Staatliches", cursive;
  margin-top: 3vh;
  font-weight: 550;
}
.sectionInfo .infoh3 {
  margin-top: 2vh;
  font-family: "Open Sans", sans-serif;
  font-size: large;
}
.sectionInfo .link {
  text-decoration: underline;
}
.sectionInfo a {
  color: black;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 7rem;
  }
  .sectionInfo {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin: auto;
    margin-left: 1rem;
    margin-bottom: 6rem;
  }
  .kittyCorazon {
    display: none;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .info {
    font-family: "Staatliches", cursive;
    font-weight: 550;
    font-size: 60px;
  }
  .infoP {
    margin-top: 2vh;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: justify;
  }
  .infoh2 {
    font-family: "Staatliches", cursive;
    margin-top: 3vh;
    font-weight: 550;
    font-size: 30px;
  }
  .infoh3 {
    margin-top: 2vh;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .sectionInfo {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 5vh;
    margin-bottom: 15vh;
    position: relative;
  }
  .kittyCorazon {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .sectionInfo {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 5vh;
    margin-bottom: 15vh;
    position: relative;
  }
  .sectionInfo .kittyCorazon {
    position: absolute;
    left: 110%;
    top: 15%;
    width: 60vh;
  }
  .sectionInfo .info {
    font-family: "Staatliches", cursive;
    font-weight: 550;
    font-size: 40px;
  }
  .sectionInfo .infoP {
    margin-top: 2vh;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
  }
  .sectionInfo .infoh2 {
    font-family: "Staatliches", cursive;
    margin-top: 3vh;
    font-weight: 550;
  }
  .sectionInfo .infoh3 {
    margin-top: 2vh;
    font-family: "Open Sans", sans-serif;
    font-size: large;
  }
  .sectionInfo .link {
    text-decoration: underline;
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #585858;
}

.footer .pFooter {
  color: #585858;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=style.css.map */
