*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10vh;
}

/* HEADER */
.cabecera{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    padding-left: 1vw;
    width: 7vw;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logoKitty{
    height: 20vh;
    display: flex;
    margin: auto;
    margin-top: 70px;
    padding-top: 5vh;
    padding-bottom:5vh;
}

a:hover{
    color: black;
}

.color{
    color: rgb(63, 63, 63);
}

.generalImageTwo{
    display: none;
}
/* FIN DE HEADER */

/* FOOTER */
.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;
}

.sectionFooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logoFooter{
    width:5vh;
    margin-top: 3vh;
    margin-right: 4vh;
    transition: all 1s;
}

.logoFooter:hover{
    transform: rotate(15deg);
}

.pFooter{
    color:grey;
    font-family: 'Poppins', sans-serif;
    font-size: 70%;
    margin-left: 2vh;
}
/* FIN FOOTER */

/* INICIO */
.bienvenida{
    height: 15vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
}
/* FIN INICIO */

/* PRODUCTOS */
.sectionImagen{
    display: flex;
    justify-content: center;
    height: 55vh;
}

.productosSection{
    width: 100%;
}

.productosTitulo{
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}

.productosDiv{
    text-align: center;
}

.productosSubtitulo{
    text-align: center;
    margin-left: 35vw;
    margin-right: 35vw;
    line-height: 3.5vh;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

.productosSubtituloEscritorio{
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    color: rgb(151, 151, 151);
    margin-bottom: 10vh;
}

.productosSubtituloTactil{
    display: none;
}

.galeria{
    width: 100%;
    display: flex;
    justify-content:baseline;
}

#ropaDos{
    transition: all 1.5s;
}

#ropaDos:hover{
    transform: translate(450px);
}

.pProductos{
    font-family: 'Staatliches', cursive;
    font-size: 72px;
}

.remeraBlanca, .remeraKitty, .buzoKitty, .pantalonKitty, .zapatillasKitty{
    height: 70vh;
    margin-left: 15rem;
    position: absolute;
    box-shadow: 0 0 5px rgb(77, 77, 77);
}

.remeraBlancaTrasera, .remeraKittyTrasera, .buzoKittyTrasera, .pantalonKittyTrasera, .zapatillasKittyTrasera{
    height: 70vh;
    position: relative;
    margin-left: 15rem;
    box-shadow: 0 0 5px rgb(77, 77, 77);
}

.sectionPproductos{
    margin-left: 39vh;
    margin-top: 2vh;
}

.sectionPzapatillaskitty{
    margin-left: 39vh;
    margin-top: 2vh;
    margin-bottom: 15vh;
}

/* FIN PRODUCTOS */

/* CONTÁCTANOS */
.container{
    width: 100%;
    max-width: 1200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.container .card{
    width: 330px;
    height: 350px;
    margin: 20px;
    text-align: center;
}

.container .card img{
    margin: auto;
    width: 150px;
    height: 150px;
    
}

.container .card h4{
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 16px;
    font-weight: 300;
    padding-top: 4vh;
    font-family: 'Lato', sans-serif;
}
/* FIN CONTÁCTANOS */

/* ENCONTRANOS */
.container{
    margin-bottom: 12rem;
}
.sectionIframe{
    margin-bottom: 120px;
    text-align: center;
}

.iframe{
    box-shadow: 0px 0px 15px rgb(77, 77, 77);
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: 'Staatliches', cursive;
}

.parraf{
    font-family: 'Open Sans', sans-serif;
    
}
/* FIN ENCONTRANOS */

/* ACERCA DE */
.sectionInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 18vh;
    margin-bottom: 20vh;
    position: relative;
}

.info{
    font-family: 'Staatliches', cursive;
    font-weight: 550;
    font-size: 40px;
}

.infoP{
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
}

.infoh2{
    font-family: 'Staatliches', cursive;
    margin-top: 3vh;
    font-weight: 550;
}

.infoh3{
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.link{
    text-decoration: underline;
}

.kittyCorazon{
    position: absolute;
    left: 110%;
    top: 15%;
    width: 60vh;
}
/* FIN DE ACERCA DE */

/* Responsive pc high resolution */
@media (min-width: 1400px) and (max-width: 1920px){
    .logo{
        padding-left: 2vw;
        width: 8vw;
    }
    .cabeceraLista {
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Lato', sans-serif;
        font-size: 25px;
    }
    .productosTitulo {
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
        font-family: 'Staatliches', cursive;
        font-size: 40px;
    }
    .productosSubtitulo {
        text-align: center;
        margin-left: 35vw;
        margin-right: 35vw;
        margin-bottom: 15vh;
        line-height: 3.5vh;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
    }
    #ropaDos{
        transition: all 1.5s;
    }
    #ropaDos:hover{
        transform: translate(750px);
    }
    .sectionPRemerakitty, .sectionPRemerablanca, .sectionPBuzokitty, .sectionPpantalonkitty{
        margin-left: 25vh;
        margin-top: 2vh;
    }
    .sectionPzapatillaskitty{
        margin-left: 25vh;
        margin-top: 2vh;
        margin-bottom: 15vh;
    }
    .container .card{
        height: 450px;
    }
    .container .card h4{
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
    }
    .container .card p{
        padding: 0 1rem;
        font-size: 20px;
        font-weight: 16px;
        padding-top: 4vh;
        font-family: 'Lato', sans-serif;
    }
    .iframe{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    .info{
        font-family: 'Staatliches', cursive;
        font-weight: 550;
        font-size: 60px;
    }
    .infoP{
        margin-top: 2vh;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
    .infoh2{
        font-family: 'Staatliches', cursive;
        margin-top: 3vh;
        font-weight: 550;
        font-size: 30px;
    }
    .infoh3{
        margin-top: 2vh;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
    .pFooter {
        color: grey;
        font-family: 'Poppins', sans-serif;
        font-size: 120%;
        margin-left: 2vh;
    }
}
/* Fin responsive high resolution */

/* Responsive celular */
@media (max-width: 480px) {
    .logo{
        padding-left: 1vw;
        width: 20vw;
    }
    .logoFooter{
        width:2vh;
        margin-top: 5vh;
        margin-right: 2vh;
        transition: all 1s;
    }
    .pFooter{
        color:grey;
        font-family: 'Poppins', sans-serif;
        font-size: 55%;
        margin-left: 1vh;
    }
    .logoKitty{
        height: 15vh;
        display: flex;
        margin: auto;
        margin-top: 70px;
    }
    .generalImageOne{
        display: none;
    }
    .generalImageTwo{
        display: flex;
        width: 72%;
        height: 20rem;
    }
    .sectionImagen{
        display: none;
    }
    .productosTitulo{
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 5vh;
        font-family: 'Staatliches', cursive;
        font-size: 30px;
    }
    .productosSubtitulo{
        text-align: center;
        margin-left: 10vw;
        margin-right: 10vw;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    .productosSubtituloTactil{
        font-family: 'Open Sans', sans-serif;
        font-size: smaller;
        color: rgb(151, 151, 151);
        margin-bottom: 10vh;
    }
    .galeria{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #ropaDos{
        transition: all 0.7s;
    }
    #ropaDos:hover{
        transform: translate(20px, 20px);
        opacity: 0;
    }
    .pProductos{
        font-family: 'Staatliches', cursive;
        font-size: 50px;
        margin: auto;
    }
    .remeraBlanca, .remeraKitty, .buzoKitty, .pantalonKitty, .zapatillasKitty{
        height: 45vh;
        position: absolute;
        margin: auto;
        box-shadow: 0 0 5px rgb(77, 77, 77);
    }
    
    .remeraBlancaTrasera, .remeraKittyTrasera, .buzoKittyTrasera, .pantalonKittyTrasera, .zapatillasKittyTrasera{
        height: 45vh;
        position: relative;
        margin: auto;
        box-shadow: 0 0 5px rgb(77, 77, 77);
    }
    
    .sectionPproductos{
        display: flex;
        margin: auto;
        margin-top: 2vh;
    }
    
    .sectionPzapatillaskitty{
        display: flex;
        margin-left: auto;
        margin-top: 2vh;
        margin-bottom: 15vh;
    }
    .container{
        width: 100%;
        max-width: 1200px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:auto;
        margin-bottom: 7rem;
    }
    .sectionInfo{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        margin-left: 1rem;
        margin-bottom: 6rem;
    }
    .kittyCorazon{
        display: none;
    }
}
/* Fin responsive celular */

/* Responsive tablets */
@media (min-width: 481px) and (max-width: 991px){
    .logo{
        padding-left: 1vw;
        width: 10vw;
    }
    .sectionImagen{
        display: flex;
        justify-content: center;
        height: 40vh;
    }
    .galeria{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .productosSubtitulo{
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    .remeraBlanca, .remeraKitty, .buzoKitty, .pantalonKitty, .zapatillasKitty{
        height: 70vh;
        position: absolute;
        margin: auto;
        box-shadow: 0 0 5px rgb(77, 77, 77);
    }
    
    .remeraBlancaTrasera, .remeraKittyTrasera, .buzoKittyTrasera, .pantalonKittyTrasera, .zapatillasKittyTrasera{
        height: 70vh;
        position: relative;
        margin: auto;
        box-shadow: 0 0 5px rgb(77, 77, 77);
    }
    #ropaDos{
        transition: all 0.5s;
    }
    #ropaDos:hover{
        transform: translate(0px);
        opacity: 0;
    }
    .sectionPproductos{
        display: flex;
        margin: auto;
        margin-top: 2vh;
    }
    .pProductos{
        margin:auto;
        font-size: 50px;
    }
    .sectionPzapatillaskitty{
        display: flex;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 15vh;
    }
    .container{
        height: 100%;
        margin-bottom: 15vh;
    }
    .kittyCorazon{
        display: none;
    }
    .sectionInfo{
        width: 95%;
        margin-left: 1rem;
        
    }
}
/* Fin responsive tablets */